<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name = "Debyt">

<listeners>

<listener class-name = "com.debyt.utilities.Reporting"/>
</listeners>



	<test name = "Debyt automation">
		<parameter name = "browser" value = "chrome"/>
		<classes>
	  	 <!--  	 -->
		<!--  	<class name = "com.debyt.testCases.TC_Signup" /> -->
		<!--  	<class name = "com.debyt.testCases.TC_Signup_1_DDT" /> -->
		<class name = "com.debyt.testCases.TC_Signup_2_DDT"></class>
		</classes>
	</test>

</suite>